@model Lab3.Models.Person
<form asp-action="AddPerson" method="post">
    
    <div>       
        First Name <input type="text" name="firstname" /><br />
        Last Name <input type="text" name="lastname" /><br />
        Birthday <input type="date" name="birthdate" /><br />
        <input type="submit" />
    </div>
</form>