@model Lab3.Models.Person
<form asp-action="AddPerson" method="post">
    @*@if (Model == null)*@
    
        <h1>Add Person</h1>
        <div>       
            First Name <input type="text" name="firstname" asp-for="FirstName"/><br />
            <span asp-validation-for="FirstName" class="text-danger"></span><br />
            Last Name <input type="text" name="lastname" asp-for="LastName"/><br />
            <span asp-validation-for="LastName" class="text-danger"></span><br />
            Birthday <input type="date" name="birthdate" asp-for="BirthDate"/><br />
            <span asp-validation-for="BirthDate" class="text-danger"></span><br />
            <input type="submit" class="btn btn-default"/>
        </div>
    
    @*
    @if (Model != null)
    {
        <h1>Edit Person</h1>
        <div>
            First Name <input type="text" name="firstname" value=@Model.FirstName /><br />
            Last Name <input type="text" name="lastname" value=@Model.LastName /><br />
            Birthday <input type="date" name="birthdate" value=@Model.BirthDate.ToString("yyyy-MM-dd") /><br />
            @Model.PersonID
            <input type="submit" asp-action="DeletePerson" asp-route-id=@Model.PersonID />
        </div>
    }
        *@
</form>